<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <div class="row my-2">
    <div class="col-12">
      <h3 class="m-0 float-left">
        {{skill.number}}&nbsp;{{skill.name.text}}
      </h3>
      <div class="btn-group float-right">
        <ng-template [ngTemplateOutlet]="additionalMenu"></ng-template>
        <ws-spinner *ngIf="this.loadingRemoving"></ws-spinner>
        <button
          [disabled]="this.loadingRemoving"
          *ngIf="hasUserRole('Admin', 'EditEvents')"
          class="btn btn-secondary btn-sm"
          type="button"
          (click)="markAsRemoved()"
        >
          {{'Mark Skill as removed' | translate}}
        </button>
        <button
          *ngIf="hasUserRole('Admin', 'DeleteEvents')"
          class="btn btn-danger btn-sm ml-1"
          type="button"
          (click)="delete()"
        >
          {{'Delete Skill' | translate}}
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="list-group list-group-flush">
          <a
            routerLinkActive="active"
            routerLink="./" [routerLinkActiveOptions]="{exact: true}"
            class="list-group-item list-group-item-action">
            {{'Skill' | translate}}
          </a>
          <a
            *ngIf="hasUserRole('Admin', 'EditEvents', 'OrganizerEditEvents')"
            routerLinkActive="active"
            routerLink="photos"
            class="list-group-item list-group-item-action">
            {{'Photos' | translate}}
          </a>
          <a
            *ngIf="hasUserRole('Admin', 'EditEvents', 'OrganizerEditEvents')"
            routerLinkActive="active"
            routerLink="tags"
            class="list-group-item list-group-item-action">
            {{'Tags' | translate}}
          </a>
          <a
            *ngIf="hasUserRole('Admin', 'EditEvents', 'OrganizerEditEvents')"
            routerLinkActive="active"
            routerLink="sponsors"
            class="list-group-item list-group-item-action">
            {{'Sponsors' | translate}}
          </a>
          <a
            *ngIf="hasUserRole('Admin', 'EditEvents')"
            routerLinkActive="active"
            routerLink="copy"
            class="list-group-item list-group-item-action">
            {{'Copy' | translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
