<div class="card">
  <h5 class="card-header m-0">{{'Search events' | translate}}</h5>
  <div class="card-body">
    <form *ngIf="initialized" class="form-horizontal" novalidate (ngSubmit)="submit()" #form="ngForm"
          (change)="onChange()">
      <fieldset [disabled]="loading">
        <div class="form-group row">
          <div class="col-12">
            <input
              type="text"
              placeholder="{{'Name' | translate}}"
              class="form-control"
              name="name"
              [ngModel]="fetchParams.name"
            >
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <input #dAfter="ngbDatepicker"
                   placeholder="{{'After' | translate}}"
                   type="text"
                   class="form-control"
                   name="after"
                   [ngModel]="fetchParams.after"
                   ngbDatepicker
                   (focus)="dAfter.open()"
                   [maxDate]="form.controls.before ? form.controls.before.value : undefined"
                   [autoClose]="true"
                   [restoreFocus]="true"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <input #dBefore="ngbDatepicker"
                   placeholder="{{'Before' | translate}}"
                   type="text"
                   class="form-control"
                   name="before"
                   [ngModel]="fetchParams.before"
                   ngbDatepicker
                   (focus)="dBefore.open()"
                   [maxDate]="form.controls.after ? form.controls.after.value : undefined"
                   [autoClose]="true"
                   [restoreFocus]="true"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <select
              class="form-control"
              name="type"
              [ngModel]="fetchParams.type || ''"
              [disabled]="loading"
              (change)="onChange()"
              required
            >
              <option value="">{{'Select type...' | translate}}</option>
              <option value="competition">{{'Competition' | translate}}</option>
              <option value="general_assembly">{{'General Assembly' | translate}}</option>
              <option value="preparation_meeting">{{'Preparation Meeting' | translate}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <ng-select
              [wsSelect]="['id', 'name.text']"
              name="country"
              [ngModel]="fetchParams.country"
              placeholder="{{'Country' | translate}}"
              [items]="countries || []"
              [disabled]="loading"
              (change)="onChange()"
            ></ng-select>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-12">
            <ws-entity-tree-select
              name="ws_entity"
              [ngModel]="fetchParams.ws_entity"
              [multiple]="false"
              [disabled]="loading"
              (change)="onChange()"
              [showControls]="false"
              [showFullPath]="false">
            </ws-entity-tree-select>
          </div>
        </div>

        <div class="form-group row mb-0">
          <div class="col-12 text-right">
            <button
              type="button"
              class="btn btn-secondary btn-sm mr-1"
              (click)="clear()">
              {{'Clear' | translate}}
            </button>&nbsp;
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              [disabled]="loading">
              <ng-container *ngIf="!loading">{{'Search' | translate}}</ng-container>
              <ng-container *ngIf="loading">
                <ws-spinner></ws-spinner>
              </ng-container>
            </button>&nbsp;
          </div>
        </div>

      </fieldset>
    </form>
    <ws-spinner *ngIf="!initialized"></ws-spinner>
  </div>
</div>
