<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WorldSkills Events</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- build:css styles/main.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/worldskills-bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/angular-worldskills-utils/src/spinner.css" />
<link rel="stylesheet" href="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.css" />
<link rel="stylesheet" href="bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css" />
<!-- endbower -->
<link rel="stylesheet" href="styles/app.css">
<!-- endbuild -->

<script src="bower_components/ckeditor/ckeditor.js"></script>

</head>
<body ng-app="eventsApp" ng-controller="ContainerCtrl">
    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div style="background-color: #f0ad4e; padding: 10px 20px; color: #fff; text-align: center;" ng-cloak ng-if="environmentWarning">{{environmentWarning}}</div>
    <ws-puppet p="auth.user.puppeteer"></ws-puppet>

    <div class="navbar navbar-worldskills navbar-static-top">
        <div class="cube-container">
            <div class="cube-right-bottom-blue">&nbsp;</div>
        </div>
        <div class="container" ng-cloak>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-show="auth.loggedIn">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Events</a>
            </div>
            <div ng-show="auth.loggedIn">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                {{auth.user.first_name || ""}} {{auth.user.last_name || ""}} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="auth.logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" ng-submit="search()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Event" ng-model="searchText">
                        </div>
                        <button type="submit" class="btn btn-default sr-only">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container" ng-cloak ng-show="auth.loggedIn">
        <div ui-view></div>

        <hr class="hr-extended">

        <footer>
            <div class="row">
                <div class="col-sm-push-8 col-sm-4 col-md-push-10 col-md-2">
                    <h5>WorldSkills</h5>
                    <ul class="list-unstyled">
                    <li><a href="https://www.worldskills.org/">Home</a></li>
                    <li><a href="https://www.worldskills.org/internal/">Member Area</a></li>
                    <li><a href="http://forums.worldskills.org/">Forums</a></li>
                    <li><a href="http://glossary.worldskills.org/">Glossary</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <p>© {{date | date:'yyyy'}} WorldSkills International · <a href="https://www.worldskills.org/site/privacy/">Privacy</a> · <a href="https://www.worldskills.org/site/terms/">Terms</a></p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div ng-show="auth.loggedIn">
                        <p class="site-user">{{auth.user.first_name || ""}} {{auth.user.last_name || ""}}, <a href="#" ng-click="logout()">Logout</a></p>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/worldskills-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/form.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/directives/ckeditor.js"></script>
    <script src="scripts/components/ws_entity_select.js"></script>
    <script src="scripts/controllers/base_skills.js"></script>
    <script src="scripts/controllers/base_sponsors.js"></script>
    <script src="scripts/controllers/container.js"></script>
    <script src="scripts/controllers/events.js"></script>
    <script src="scripts/controllers/sectors.js"></script>
    <script src="scripts/controllers/skills.js"></script>
    <script src="scripts/controllers/sponsors.js"></script>
    <script src="scripts/services/alert.js"></script>
    <script src="scripts/services/BaseSector.js"></script>
    <script src="scripts/services/BaseSkill.js"></script>
    <script src="scripts/services/BaseSponsor.js"></script>
    <script src="scripts/services/Country.js"></script>
    <script src="scripts/services/Event.js"></script>
    <script src="scripts/services/Sector.js"></script>
    <script src="scripts/services/Skill.js"></script>
    <script src="scripts/services/Sponsor.js"></script>
    <script src="scripts/services/WsEntity.js"></script>
    <!-- endbuild -->

    <script src="scripts/config.js"></script>
</body>
</html>
