<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <div class="row my-2">
    <div class="col-12">
      <h3 class="m-0 float-left">
        {{skill.number}}&nbsp;{{skill.name.text}}
      </h3>
      <div class="btn-group float-right">
        <ng-template [ngTemplateOutlet]="additionalMenu"></ng-template>
        <ws-spinner *ngIf="this.loadingRemoving"></ws-spinner>
        <div class="btn-group" role="group"
             *ngIf="(localeContextService.effectiveOverriddenLanguage | async) as o">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{o.name}}
          </button>
          <div class="dropdown-menu">
            <ng-container *ngFor="let language of localeContextService.languages">
              <span
                style="cursor: pointer"
                class="dropdown-item"
                (mousedown)="switchLanguage($event, language)">
                {{language.name}}
              </span>
            </ng-container>
          </div>
        </div>
        <button
          [disabled]="this.loadingRemoving"
          *wsUserRole="['Admin', 'EditEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId"
          class="btn btn-secondary btn-sm ml-1"
          type="button"
          (click)="markAsRemoved()"
        >
          {{'Mark Skill as removed' | translate}}
        </button>
        <button
          *wsUserRole="['Admin', 'DeleteEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId"
          class="btn btn-danger btn-sm ml-1"
          type="button"
          (click)="delete()"
        >
          {{'Delete Skill' | translate}}
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="list-group list-group-flush">
          <a
            routerLinkActive="active"
            routerLink="./" [routerLinkActiveOptions]="{exact: true}"
            class="list-group-item list-group-item-action">
            {{'Skill' | translate}}
          </a>
          <a
            *wsUserRole="['Admin', 'EditEvents', 'OrganizerEditEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId"
            routerLinkActive="active"
            routerLink="photos"
            class="list-group-item list-group-item-action">
            {{'Photos' | translate}}
          </a>
          <a
            *wsUserRole="['Admin', 'EditEvents', 'OrganizerEditEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId"
            routerLinkActive="active"
            routerLink="tags"
            class="list-group-item list-group-item-action">
            {{'Tags' | translate}}
          </a>
          <a
            *wsUserRole="['Admin', 'EditEvents', 'OrganizerEditEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId"
            routerLinkActive="active"
            routerLink="sponsors"
            class="list-group-item list-group-item-action">
            {{'Sponsors' | translate}}
          </a>
          <a
            *wsUserRole="['Admin', 'EditEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId"
            routerLinkActive="active"
            routerLink="copy"
            class="list-group-item list-group-item-action">
            {{'Copy' | translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
