<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <div class="row my-2">
    <div class="col-12">
      <h3 class="m-0 float-left">
        {{sponsor.name}}
      </h3>
      <div class="clearfix"></div>
    </div>
  </div>
  <hr class="my-2"/>
  <div class="row">
    <div class="col-12">
      <app-sponsor-form
        [editable]="currentUser && event && event.ws_entity && hasUserRole(currentUser, appId, event.ws_entity.id, 'Admin', 'EditEvents', 'OrganizerEditEvents')"
        [event]="event"
        [cancelLink]="['/events', this.event.id, 'sponsors']"
        [sponsor]="sponsor"
        (save)="save($event)"
      ></app-sponsor-form>
    </div>
  </div>
</ng-container>
