<ng-template #button>
  <button routerLink="create" class="btn btn-primary btn-sm float-right mr-1" *wsUserRole="['Admin', 'EditEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId">
    {{'Add sector' | translate}}
  </button>
</ng-template>
<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped border-top">
          <colgroup>
            <col width="10%">
            <col width="70%">
            <col width="20%">
          </colgroup>
          <thead>
          <tr>
            <th class="border-top-0">{{'ID' | translate}}</th>
            <th class="border-top-0">{{'Name' | translate}}</th>
            <th class="border-top-0">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sector of sectors">
            <td><a [routerLink]="[sector.id]">{{sector.id}}</a></td>
            <td><a [routerLink]="[sector.id]">{{sector.name.text}}</a></td>
            <td class="text-right">
              <ng-container *wsUserRole="['Admin', 'DeleteEvents']; user : authenticatedUser; entity : event ? event.ws_entity.id : null; appId : appId">
                <button
                  *ngIf="!deletableSectorLoading(sector) && deletableSector(sector)"
                  (click)="delete(sector)"
                  type="button"
                  class="btn btn-danger btn-sm"
                >
                  <fa-icon size="xs" [icon]="faTimes"></fa-icon>
                </button>
                <button
                  *ngIf="!deletableSectorLoading(sector) && !deletableSector(sector)"
                  placement="top"
                  ngbTooltip="{{'Cannot delete, sector has skills' | translate}}"
                  type="button"
                  class="btn btn-danger btn-sm disabled"
                >
                  <fa-icon size="xs" [icon]="faTimes"></fa-icon>
                </button>
                <ws-spinner [textAlign]="true" *ngIf="deletableSectorLoading(sector)"></ws-spinner>
              </ng-container>
            </td>
          </tr>
          <tr *ngIf="sectors.length === 0">
            <td colspan="3">{{'No sectors found' | translate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
