<ng-template #button>
  <ng-container
    *wsUserRole="['Admin', 'EditEvents']; entity : event ? event.ws_entity.id : null; appId : appId">
    <div *ngIf="tags" class="btn-group" role="group">
      <button type="button" class="btn btn-primary btn-sm mr-1 dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" [disabled]="filteredTags.length === 0">
        {{'Add tag' | translate}}
      </button>
      <div class="dropdown-menu">
        <ng-container *ngFor="let tag of filteredTags">
          <a class="dropdown-item" href="#" (click)="$event.preventDefault(); bind(tag)">{{tag.name.text}}</a>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped border-top">
          <colgroup>
            <col width="80%">
            <col width="20%">
          </colgroup>
          <thead>
          <tr>
            <th class="border-top-0">{{'Tag' | translate}}</th>
            <th class="border-top-0">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tag of skill.tags">
            <td>{{tag.name.text}}</td>
            <td class="text-right">
              <button
                *wsUserRole="['Admin', 'EditEvents']; entity : event ? event.ws_entity.id : null; appId : appId"
                (click)="unbind(tag)"
                type="button"
                class="btn btn-danger btn-sm"
              >
                <fa-icon size="xs" [icon]="faTimes"></fa-icon>
              </button>
            </td>
          </tr>
          <tr *ngIf="skill.tags.length === 0">
            <td colspan="2">{{'No tags found' | translate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
