/* You can add global styles to this file, and also import other style files */
.component-pager .pagination {
  margin: 0;
}

.small .form-control {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style-position: inside;
}

@media (min-width: 768px) {

  .table {
    table-layout: fixed;
  }

  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nav.nav-tabs {
  margin: 20px 0 30px 0;
}
