<ol class="breadcrumb">
    <li><a ui-sref="events.list">Events</a></li>
    <li><a ui-sref="base_skills">Base Skills</a></li>
    <li><a ui-sref="base_skill.form({id: baseSkill.id})">{{baseSkill.name.text}}</a></li>
    <li><a ui-sref="base_skill.photos({id: baseSkill.id})">Photos</a></li>
    <li class="active">{{id ? "Photo" : "Add Photo"}}</li>
</ol>

<p class="pull-right">
    <button ng-click="deletePhoto()" class="btn btn-danger">Delete Photo<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<h1>{{id ? "Photo" : "Add Photo"}}</h1>

<hr/>

<div id="content">
    <form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
        <div class="form-group" ng-show="photoThumbnail">
            <label for="image" class="col-sm-3 control-label">Photo</label>
            <div class="col-sm-4">
                <div class="ws-image-thumbnail">
                    <img ng-src="{{photoThumbnail}}" ng-show="!removeLogo" />
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && !id && !imageLoading}">
            <label for="image" class="col-sm-3 control-label">{{id ? "Replace Photo" : "Photo"}} <span class="required" ng-show="!id">*</span></label>
            <div class="col-sm-4">
                <input type="file" id="image" name="image" ng-file-select="onFileSelect($files)">
            </div>
            <div class="col-sm-5">
                <span class="help-block" ng-show="submitted && !id && !imageLoading">
                    Please choose a photo!
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && form.description.$invalid}">
            <label for="name" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="description" name="description" ng-model="photo.description.text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Save Photo<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
                <a ui-sref="base_skill.photos({id: baseSkill.id})" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</div>
