<p>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Sponsor <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="baseSponsor in availableBaseSponsors = (baseSponsors.base_sponsors | filter:{used:'!true'})"><a href="javascript:" ng-click="addBaseSponsor(baseSponsor)">{{baseSponsor.name.text}}</a></li>
            <li ng-show="availableBaseSponsors.length == 0"><a href="javascript:">No Base Sponsors available</a></li>
        </ul>
    </div>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="95%" />
        </colgroup>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Base Sponsor</th>
            </tr>
        </thead>
        <tfoot><tr><td colspan="2"></td></tr></tfoot>
        <tbody>
            <tr ng-repeat="sponsor in baseSkill.sponsors">
                <td>
                    <input type="checkbox" ng-model="sponsor.checked">
                </td>
                <td>
                    {{sponsor.name.text}}
                </td>
            </tr>
            <tr ng-show="baseSkill.sponsors.length == 0">
                <td colspan="2">No Base Sponsors found.</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="btn btn-danger" ng-click="removeBaseSponsors()">Remove selected</button>
</div>
