<p>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Tag <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="tag in availableTags = (baseTags.tags | filter:{used:'!true'})"><a href="javascript:" ng-click="addTag(tag)">{{tag.name.text}}</a></li>
            <li ng-show="availableTags.length == 0"><a href="javascript:">No tags available</a></li>
        </ul>
    </div>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="95%" />
        </colgroup>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tfoot><tr><td colspan="2"></td></tr></tfoot>
        <tbody>
            <tr ng-repeat="tag in baseSkill.tags">
                <td>
                    <input type="checkbox" ng-model="tag.checked">
                </td>
                <td>
                    {{tag.name.text}}
                </td>
            </tr>
            <tr ng-show="baseSkill.tags.length == 0">
                <td colspan="2">No tags found.</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="btn btn-danger" ng-click="removeTags()">Remove selected</button>
</div>
