<ol class="breadcrumb">
    <li><a ui-sref="events.list">Events</a></li>
    <li class="active">Base Skills</li>
</ol>

<alerts></alerts>

<h1>Base Skills</h1>

<hr />

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="90%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="4"></td></tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="baseSkill in baseSkills.base_skills">
                <td><a ui-sref="base_skill.form({ id: baseSkill.id })">{{baseSkill.id}}</a></td>
                <td><a ui-sref="base_skill.form({ id: baseSkill.id })">{{baseSkill.name.text}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
