<ol class="breadcrumb">
    <li><a ui-sref="events.list">Events</a></li>
    <li class="active">Base Sponsors</li>
</ol>

<alerts></alerts>

<p class="pull-right">
    <a ui-sref="base_sponsor_create.form" class="btn btn-success">Add Base Sponsor</a>
</p>

<h1>Base Sponsors</h1>

<hr />

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="90%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="4"></td></tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="baseSponsor in baseSponsors.base_sponsors">
                <td><a ui-sref="base_sponsor.form({ id: baseSponsor.id })">{{baseSponsor.id}}</a></td>
                <td><a ui-sref="base_sponsor.form({ id: baseSponsor.id })">{{baseSponsor.name.text}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
