<p class="pull-right">
    <a ui-sref="events.skill_create.form({eventId: event.id})" class="btn btn-success" ng-show="canEdit">Add Skill</a>
</p>

<h2 class="clearfix">Skills</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="60%" />
            <col width="30%" />
        </colgroup>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            <tr class="active">
                <td>
                    <input type="text" class="form-control input-sm" ng-model="skillsFilterNumber" />
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="skillsFilterName" />
                </td>
                <td>
                    <select class="form-control input-sm" ng-model="skillsFilterType">
                        <option></option>
                        <option value="official">{{"skill_type_official"|translate}}</option>
                        <option value="demo">{{"skill_type_demo"|translate}}</option>
                        <option value="presentation">{{"skill_type_presentation"|translate}}</option>
                        <option value="multi">{{"skill_type_multi"|translate}}</option>
                        <option value="possible_official">{{"skill_type_possible_official"|translate}}</option>
                        <option value="proposed_demo">{{"skill_type_proposed_demo"|translate}}</option>
                        <option value="exhibition">{{"skill_type_exhibition"|translate}}</option>
                        <option value="host_member">{{"skill_type_host_member"|translate}}</option>
                    </select>
                </td>
            </tr>
        </thead>
        <tfoot>
            <tr ng-show="!loading"><td colspan="3"></td></tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="skill in filteredSkills = (skills | filter:{number:skillsFilterNumber, $:skillsFilterName, type:skillsFilterType})">
                <td><a ui-sref="events.skill.form({eventId: skill.event.id, id: skill.id})">{{skill.number}}</a></td>
                <td><a ui-sref="events.skill.form({eventId: skill.event.id, id: skill.id})">{{skill.name.text}}</a></td>
                <td>{{("skill_type_" + skill.type)|translate}}</td>
            </tr>
            <tr ng-show="!loading && filteredSkills.length == 0">
                <td colspan="3">No Skills found.</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="3"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
