<ol class="breadcrumb">
    <li>Events</li>
</ol>

<alerts></alerts>

<p class="pull-right">
    <a ui-sref="event_create.form" class="btn btn-success">Add Event</a>
</p>

<h1>Events</h1>

<hr />

<div class="row">
    <div class="col-sm-9">
        <div class="table-responsive ws-events-list">
            <table class="table table-striped">
                <colgroup>
                    <col width="10%" />
                    <col width="50%" />
                    <col width="20%" />
                    <col width="20%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th ng-class="{'ws-table-sort': true, dropup: pagination.sort == 'start_date_asc'}" class="ws-table-sort" ng-click="changeSort(pagination.sort == 'start_date_desc' ? 'start_date_asc' : 'start_date_desc')">
                            Date
                            <span class="caret" ng-show="pagination.sort.indexOf('start_date_') == 0"></span>
                        </th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="!loading"><td colspan="4"></td></tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="event in events.events">
                        <td><a ui-sref="events.event.form({ id: event.id })">{{event.id}}</a></td>
                        <td><a ui-sref="events.event.form({ id: event.id })" title="{{event.name}}">{{event.name}}</a></td>
                        <td>{{event.start_date|date:'d MMMM yyyy'}}</td>
                        <td>{{event.country|translate}}</td>
                    </tr>
                    <tr ng-show="!loading && events.total_count == 0">
                        <td colspan="4">No events found.</td>
                    </tr>
                    <tr ng-show="loading">
                        <td colspan="4"><ws-spinner></ws-spinner></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        <form name="form" novalidate ng-submit="search()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right" href="" ng-click="clear()">Clear</a>
                    <h3 class="panel-title">Search events</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="before">Before</label>
                            <input type="text" datepicker-popup class="form-control" id="before" name="before" ng-model="filters.before">
                        </div>
                        <div class="form-group">
                            <label for="end_date">After</label>
                            <input type="text" datepicker-popup class="form-control" id="after" name="after" ng-model="filters.after">
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select ui-select2 class="form-control" id="type" name="type" required ng-model="filters.type">
                                <option value="meeting">Board meeting or other meeting</option>
                                <option value="champions_forum">Champions Forum</option>
                                <option value="competition">Competition</option>
                                <option value="conference">Conference</option>
                                <option value="general_assembly">General Assembly</option>
                                <option value="member_event">Member event</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select ui-select2 class="form-control" id="country" name="country" required ng-model="filters.country">
                                <option ng-repeat="country in countries|orderBy:'name'" value="{{country.code}}">{{country.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="country">Entity</label>
                            <select ui-select2 class="form-control" id="ws_entity" name="ws_entity" required ng-model="filters.ws_entity">
                                <option ng-repeat="entity in entities" value="{{entity.id}}">{{entity.name.text}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Search</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>

<pagination items-per-page="pagination.itemsPerPage" total-items="events.total_count || pagination.currentPage * pagination.itemsPerPage" page="pagination.currentPage" on-select-page="changePage(page)" max-size="10" boundary-links="true" rotate="false"></pagination>
