<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li class="active">{{title || " "}}</li>
</ol>

<p class="pull-right">
    <button ng-click="deleteEvent()" class="btn btn-danger" id="deleteEntry">Delete Event<spinner ng-show="deleteLoading" class="ng-hide"></spinner></button>
</p>

<h1>{{title || " "}}</h1>

<ul class="nav nav-tabs">
    <li ng-class="{active: $state.includes('event.form')}"><a ui-sref="event.form">Event</a></li>
    <li ng-class="{active: $state.includes('event.skills')}"><a ui-sref="event.skills">Skills</a></li>
    <li ng-class="{active: $state.includes('event.sponsors')}"><a ui-sref="event.sponsors">Sponsors</a></li>
</ul>

<div id="content" ui-view>
</div>
