<ol class="breadcrumb">
    <li>Events</li>
</ol>

<p class="pull-right">
    <a ui-sref="event_create" class="btn btn-success">Add Event</a>
</p>

<h1>Events</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="30%" />
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <tfoot><tr><td colspan="5"></td></tr></tfoot>
        <tbody>
            <tr ng-repeat="event in events.events">
                <td><a ui-sref="event({ id: event.id })">{{event.id}}</a></td>
                <td><a ui-sref="event({ id: event.id })">{{event.name}}</a></td>
                <td>{{event.start_date|date:'d MMMM yyyy'}}</td>
                <td>{{event.end_date|date:'d MMMM yyyy'}}</td>
                <td>{{event.town}}<span ng-show="event.town && event.country">, </span>{{event.country|translate}}</td>
            </tr>
            <tr ng-show="!events.events">
                <td colspan="5">No events found.</td>
            </tr>
        </tbody>
    </table>
</div>
