<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-md-3 control-label">Name <span class="required">*</span></label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="name" name="name" required ng-model="event.name">
        </div>
        <div class="col-md-6">
            <span class="help-block" ng-show="submitted && form.name.$error.required">Please enter a name!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.entity.$invalid}">
        <label for=""entity"" class="col-md-3 control-label">Entity <span class="required">*</span></label>
        <div class="col-md-5">
            <select ui-select2 class="form-control" id="entity" name="entity" required ng-model="event.entity.id">
                <option ng-repeat="entity in entities" value="{{entity.id}}">{{entity.code}} {{entity.name.text}} ({{entity.organization.name}})</option>
            </select>
        </div>
        <div class="col-md-4">
            <span class="help-block" ng-show="submitted && form.entity.$error.required">Please select a entity!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.type.$invalid}">
        <label for="type" class="col-md-3 control-label">Type <span class="required">*</span></label>
        <div class="col-md-3">
            <select ui-select2 class="form-control" id="type" name="type" required ng-model="event.type">
                <option value="competition">Competition</option>
                <option value="general_assembly">General Assembly</option>
                <option value="champions_forum">Champions Forum</option>
            </select>
        </div>
        <div class="col-md-6">
            <span class="help-block" ng-show="submitted && form.type.$error.required">Please select a type!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.start_date.$invalid}">
        <label for="start_date" class="col-md-3 control-label">Start date <span class="required">*</span></label>
        <div class="col-md-2">
            <input type="text" datepicker-popup class="form-control" id="start_date" name="start_date" required ng-model="event.start_date">
        </div>
        <div class="col-md-7">
            <span class="help-block" ng-show="submitted && form.start_date.$error.required">Please enter a start date!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.end_date.$invalid}">
        <label for="end_date" class="col-md-3 control-label">End date <span class="required">*</span></label>
        <div class="col-md-2">
            <input type="text" datepicker-popup class="form-control" id="end_date" name="end_date" required ng-model="event.end_date">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.country.$invalid}">
        <label for="country" class="col-md-3 control-label">Country <span class="required">*</span></label>
        <div class="col-md-3">
            <select ui-select2 class="form-control" id="country" name="country" required ng-model="event.country">
                <option ng-repeat="country in countries|orderBy:'name'" value="{{country.code}}">{{country.code|translate}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <span class="help-block" ng-show="submitted && form.country.$error.required">Please select a country!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.town.$invalid}">
        <label for="town" class="col-md-3 control-label">Town</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="town" name="town" ng-model="event.town">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.code.$invalid}">
        <label for="code" class="col-md-3 control-label">Code</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="code" name="code" ng-model="event.code">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-success" id="saveEntry">Save<spinner ng-show="loading" class="ng-hide"></spinner></button>
            <a ui-sref="events" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
