<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-sm-3 control-label">Name <span class="required">*</span></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" required ng-model="event.name">
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && form.name.$error.required">Please enter a name!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.ws_entity.$invalid}">
        <label for="ws_entity" class="col-sm-3 control-label">Entity <span class="required">*</span></label>
        <div class="col-sm-4">
            <select ui-select2 class="form-control" id="ws_entity" name="ws_entity" required ng-model="event.ws_entity.id">
                <option ng-repeat="entity in entities" value="{{entity.id}}">{{entity.name.text}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block"><span ng-show="submitted && form.ws_entity.$error.required">Please select a entity!</span> Owner of the entry, select the organization you are working for.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.organizer.$invalid}">
        <label for="organizer" class="col-sm-3 control-label">Organizer</label>
        <div class="col-sm-4">
            <select ui-select2="{allowClear: true}" class="form-control" id="organizer" name="organizer" ng-model="event.organizer.id">
                <option></option>
                <option ng-repeat="entity in entities" value="{{entity.id}}">{{entity.name.text}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block">Organization which is hosting the event.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.type.$invalid}">
        <label for="type" class="col-sm-3 control-label">Type <span class="required">*</span></label>
        <div class="col-sm-4">
            <select ui-select2 class="form-control" id="type" name="type" required ng-model="event.type">
                <option value="conference">Conference</option>
                <option value="competition">Competition</option>
                <option value="general_assembly">General Assembly</option>
                <option value="champions_forum">Champions Forum</option>
                <option value="meeting">Board or other meeting</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && form.type.$error.required">Please select a type!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.start_date.$invalid}">
        <label for="start_date" class="col-sm-3 control-label">Start date <span class="required">*</span></label>
        <div class="col-sm-3">
            <input type="text" datepicker-popup class="form-control" id="start_date" name="start_date" required ng-model="event.start_date">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <span class="help-block" ng-show="submitted && form.start_date.$error.required">Please enter a start date!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.end_date.$invalid}">
        <label for="end_date" class="col-sm-3 control-label">End date <span class="required">*</span></label>
        <div class="col-sm-3">
            <input type="text" datepicker-popup class="form-control" id="end_date" name="end_date" required ng-model="event.end_date">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.country.$invalid}">
        <label for="country" class="col-sm-3 control-label">Country <span class="required">*</span></label>
        <div class="col-sm-4">
            <select ui-select2 class="form-control" id="country" name="country" required ng-model="event.country">
                <option ng-repeat="country in countries|orderBy:'name'" value="{{country.code}}">{{country.code|translate}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && form.country.$error.required">Please select a country!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.town.$invalid}">
        <label for="town" class="col-sm-3 control-label">Town</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="town" name="town" ng-model="event.town">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.venue.$invalid}">
        <label for="venue" class="col-sm-3 control-label">Venue</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="venue" name="venue" ng-model="event.venue">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.code.$invalid}">
        <label for="code" class="col-sm-3 control-label">Code</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="code" name="code" ng-model="event.code">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <span class="help-block">Internal reference to the event, e.g. WSC2015.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.url.$invalid}">
        <label for="town" class="col-sm-3 control-label">Website</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="url" name="url" ng-maxlength="255" ng-model="event.url">
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && form.url.$error.maxlength">Website address must be less than 255 characters!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.description.$invalid}">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description" name="description" rows="9" ng-model="event.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success" id="saveEntry">Save<spinner ng-show="loading" class="ng-hide"></spinner></button>
            <a ui-sref="events.list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
