<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()" ng-show="!event.id || canEdit">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-sm-3 control-label">Name <span class="required">*</span></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" required ng-model="event.name">
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.name.$error">
                <span ng-message="required">Please enter a name!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && !event.ws_entity.id}">
        <label for="ws_entity" class="col-sm-3 control-label">Entity <span class="required">*</span></label>
        <div class="col-sm-4">
            <div ng-if="!event.id">
                <ws-entity-select entity="event.ws_entity.id" />
            </div>
            <p ng-if="event.id" class="form-control-static">{{event.ws_entity.name.text}}</p>
        </div>
        <div class="col-sm-5">
            <span ng-if="!event.id" class="help-block">
                <span ng-show="submitted && !event.ws_entity.id">
                    Please select an entity!
                </span>
                Owner of the entry, select the organization you are working for.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.type.$invalid}">
        <label for="type" class="col-sm-3 control-label">Type <span class="required">*</span></label>
        <div class="col-sm-4">
            <select ng-if="!event.id" class="form-control" id="type" name="type" required ng-model="event.type">
                <option value="competition">Competition</option>
                <option value="general_assembly">General Assembly</option>
                <option value="preparation_meeting">Preparation Meeting</option>
            </select>
            <p ng-if="event.id" ng-switch="event.type" class="form-control-static">
                <span ng-switch-when="competition">Competition</span>
                <span ng-switch-when="general_assembly">General Assembly</span>
                <span ng-switch-when="preparation_meeting">Preparation Meeting</span>
            </p>
        </div>
        <div class="col-sm-5">
            <span ng-if="!event.id" class="help-block">
                <span ng-show="submitted" ng-messages="form.type.$error">
                    <span ng-message="required">Please select a type!</span>
                </span>
                Can't be changed once the event has been added.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.start_date.$invalid}">
        <label for="start_date" class="col-sm-3 control-label">Start date <span class="required">*</span></label>
        <div class="col-sm-3">
            <p class="input-group">
                <input type="text" uib-datepicker-popup is-open="startDateOpened" class="form-control" id="start_date" name="start_date" required ng-model="event.start_date">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDateOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.start_date.$error">
                <span ng-message="required">Please enter a start date!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.end_date.$invalid}">
        <label for="end_date" class="col-sm-3 control-label">End date <span class="required">*</span></label>
        <div class="col-sm-3">
            <p class="input-group">
                <input type="text" uib-datepicker-popup is-open="endDateOpened" class="form-control" id="end_date" name="end_date" required ng-model="event.end_date">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDateOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.end_date.$error">
                <span ng-message="required">Please enter an end date!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.utc_offset.$invalid}">
        <label for="utc_offset" class="col-sm-3 control-label">Time zone</label>
        <div class="col-sm-2">
            <select class="form-control" id="utc_offset" name="utc_offset" ng-model="event.utc_offset" convert-to-number>
                <!-- https://en.wikipedia.org/wiki/List_of_UTC_time_offsets -->
                <option value="null"></option>
                <option value="-43200">UTC−12:00</option>
                <option value="-39600">UTC−11:00</option>
                <option value="-36000">UTC−10:00</option>
                <option value="-34200">UTC−09:30</option>
                <option value="-32400">UTC−09:00</option>
                <option value="-28800">UTC−08:00</option>
                <option value="-25200">UTC−07:00</option>
                <option value="-21600">UTC−06:00</option>
                <option value="-18000">UTC−05:00</option>
                <option value="-14400">UTC−04:00</option>
                <option value="-12600">UTC−03:30</option>
                <option value="-10800">UTC−03:00</option>
                <option value="-7200">UTC−02:00</option>
                <option value="-3600">UTC−01:00</option>
                <option value="0">UTC+00:00</option>
                <option value="3600">UTC+01:00</option>
                <option value="7200">UTC+02:00</option>
                <option value="10800">UTC+03:00</option>
                <option value="12600">UTC+03:30</option>
                <option value="14400">UTC+04:00</option>
                <option value="16200">UTC+04:30</option>
                <option value="18000">UTC+05:00</option>
                <option value="19800">UTC+05:30</option>
                <option value="20700">UTC+05:45</option>
                <option value="21600">UTC+06:00</option>
                <option value="23400">UTC+06:30</option>
                <option value="25200">UTC+07:00</option>
                <option value="28800">UTC+08:00</option>
                <option value="30600">UTC+08:30</option>
                <option value="31500">UTC+08:45</option>
                <option value="32400">UTC+09:00</option>
                <option value="34200">UTC+09:30</option>
                <option value="36000">UTC+10:00</option>
                <option value="37800">UTC+10:30</option>
                <option value="39600">UTC+11:00</option>
                <option value="43200">UTC+12:00</option>
                <option value="43200">UTC+12:45</option>
                <option value="46800">UTC+13:00</option>
                <option value="50400">UTC+14:00</option>
            </select>
        </div>
    </div>
    <hr/>
    <div class="form-group" ng-class="{'has-error': submitted && event.country.id === 0}">
        <label for="country" class="col-sm-3 control-label">Country <span class="required">*</span></label>
        <div class="col-sm-4">
            <select class="form-control" id="country" name="country" ng-model="event.country" ng-options="c.name.text for c in countries.country_list track by c.id">
                <option value="">Global</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && event.country.id === 0">Please select a country!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.town.$invalid}">
        <label for="town" class="col-sm-3 control-label">Town</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="town" name="town" ng-model="event.town">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.venue.$invalid}">
        <label for="venue" class="col-sm-3 control-label">Venue</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="venue" name="venue" ng-model="event.venue">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.code.$invalid}">
        <label for="code" class="col-sm-3 control-label">Code</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="code" name="code" ng-model="event.code">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <span class="help-block">Internal reference to the event, e.g. WSC2015.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.url.$invalid}">
        <label for="url" class="col-sm-3 control-label">Website</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="url" name="url" ng-maxlength="255" ng-model="event.url" ng-blur="checkUrl()" placeholder="http://www.example.org">
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && form.url.$error.maxlength">Website address must be less than 255 characters!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.description.$invalid}">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description" name="description" rows="9" ng-model="event.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success" id="saveEntry">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="events.list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

<div ng-show="event.id && !canEdit">
    <div class="row">
        <div class="col-sm-2">
            <p>Name:</p>
        </div>
        <div class="col-sm-4">
            <p>{{event.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>Start date:</p>
        </div>
        <div class="col-sm-4">
            <p>{{event.start_date|date:'d MMMM yyyy'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>End date:</p>
        </div>
        <div class="col-sm-4">
            <p>{{event.end_date|date:'d MMMM yyyy'}}</p>
        </div>
    </div>
</div>
