<ol class="breadcrumb">
    <li><a ui-sref="events.list">Events</a></li>
    <li><a ui-sref="events.event.form({id: sector.event.id})">{{sector.event.name}}</a></li>
    <li><a ui-sref="events.event.sectors({id: sector.event.id})">Sectors</a></li>
    <li class="active">{{id ? (title || " ") : "Add Sector"}}</li>
</ol>

<p class="pull-right">
    <button ng-click="deleteSector()" class="btn btn-danger" ng-show="canDelete">Delete Sector<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<alerts></alerts>

<h1>{{id ? (title || " ") : "Add Sector"}}</h1>

<ul class="nav nav-tabs" ng-show="id">
    <li ui-sref-active="active"><a ui-sref="events.sector.form">Sector</a></li>
    <li ui-sref-active="active"><a ui-sref="events.sector.translations">Translations</a></li>
</ul>

<div id="content" ui-view autoscroll>
</div>
