<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-sm-3 control-label">Name <span class="required">*</span></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" required ng-model="skill.name.text">
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.name.$error">
                <span ng-message="required">Please enter a name!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.number.$invalid}">
        <label for="number" class="col-sm-3 control-label">Number <span class="required">*</span></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="number" name="number" required ng-model="skill.number">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.number.$error">
                <span ng-message="required">Please enter a number!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.type.$invalid}">
        <label for="type" class="col-sm-3 control-label">Type <span class="required">*</span></label>
        <div class="col-sm-4">
            <select class="form-control" id="type" name="type" required ng-model="skill.type">
                <option value="official">{{"skill_type_official"|translate}}</option>
                <option value="demo">{{"skill_type_demo"|translate}}</option>
                <option value="presentation">{{"skill_type_presentation"|translate}}</option>
                <option value="multi">{{"skill_type_multi"|translate}}</option>
                <option value="possible_official">{{"skill_type_possible_official"|translate}}</option>
                <option value="proposed_demo">{{"skill_type_proposed_demo"|translate}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.type.$error">
                <span ng-message="required">Please select a type!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.status.$invalid}">
        <label for="status" class="col-sm-3 control-label">Status <span class="required">*</span></label>
        <div class="col-sm-4">
            <select class="form-control" id="status" name="status" required ng-model="skill.status">
                <option value="active">Active</option>
                <option value="on_notice">On notice</option>
                <option value="removed">Removed</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted" ng-messages="form.status.$error">
                <span ng-message="required">Please select a status!</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.sector.$invalid}">
        <label for="sector" class="col-sm-3 control-label">Sector</label>
        <div class="col-sm-4">
            <select class="form-control" id="sector" name="sector" ng-model="skill.sector" ng-options="sector.name.text for sector in sectors track by sector.id">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.description.$invalid}">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description" name="description" rows="9" ng-model="skill.description.text" ck-editor></textarea>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.description_industry_action.$invalid}">
        <label for="description_industry_action" class="col-sm-3 control-label">Career info</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description_industry_action" name="description_industry_action" rows="9" ng-model="skill.description_industry_action.text" ck-editor></textarea>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.description_required_skills.$invalid}">
        <label for="description_required_skills" class="col-sm-3 control-label">Required skills</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description_required_skills" name="description_required_skills" rows="9" ng-model="skill.description_required_skills.text" ck-editor></textarea>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.description_competition_action.$invalid}">
        <label for="description_competition_action" class="col-sm-3 control-label">At the Competition</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description_competition_action" name="description_competition_action" rows="9" ng-model="skill.description_competition_action.text" ck-editor></textarea>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.min_teams.$invalid}">
        <label for="min_teams" class="col-sm-3 control-label">Min. Teams</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="min_teams" name="min_teams" ng-model="skill.min_teams">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.max_teams.$invalid}">
        <label for="max_teams" class="col-sm-3 control-label">Max. Teams</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="max_teams" name="max_teams" ng-model="skill.max_teams">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.team_size.$invalid}">
        <label for="team_size" class="col-sm-3 control-label">Team Size</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="team_size" name="team_size" ng-model="skill.team_size">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.competitor_max_age.$invalid}">
        <label for="competitor_max_age" class="col-sm-3 control-label">Competitor age limit</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="competitor_max_age" name="competitor_max_age" ng-model="skill.competitor_max_age">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.identify_judges.$invalid}">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="identify_judges" name="identify_judges" ng-model="skill.identify_judges">
                    Identify Judges
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="group_competitors" name="group_competitors" ng-model="skill.group_competitors">
                    Group Competitors
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="compatriot_marking" name="compatriot_marking" ng-model="skill.compatriot_marking">
                    Compatriot Marking
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="generate_500_scale" name="generate_500_scale" ng-model="skill.generate_500_scale">
                    Generate 500 Scale
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="landscape_marking" name="landscape_marking" ng-model="skill.landscape_marking">
                    Landscape Marking
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="events.event.skills({id: skill.event.id})" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
