<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.detail({id: skill.event.id})">{{skill.event.name}}</a></li>
    <li><a ui-sref="event.skills({id: skill.event.id})">Skills</a></li>
    <li class="active">{{title || " "}}</li>
</ol>

<h1>{{title || " "}}</h1>

<hr>

<div id="content">
    <form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
        <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
            <label for="name" class="col-md-3 control-label">Name <span class="required">*</span></label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="name" name="name" required ng-model="skill.name.text">
            </div>
            <div class="col-md-6">
                <span class="help-block" ng-show="submitted && form.name.$error.required">Please enter a name!</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && form.number.$invalid}">
            <label for="code" class="col-md-3 control-label">Number</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="code" name="code" required ng-model="skill.number">
            </div>
            <div class="col-md-6">
                <span class="help-block" ng-show="submitted && form.number.$error.required">Please enter a number!</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success" id="saveEntry">Save<spinner ng-show="loading" class="ng-hide"></spinner></button>
                <a ui-sref="event.skills({id: skill.event.id, page: page})" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</div>
