<ol class="breadcrumb">
    <li><a ui-sref="events.list">Events</a></li>
    <li><a ui-sref="events.event.form({id: sponsor.event.id})">{{sponsor.event.name}}</a></li>
    <li><a ui-sref="events.event.sponsors({id: sponsor.event.id})">Sponsors</a></li>
    <li class="active">{{id ? (title || " ") : "Add Sponsor"}}</li>
</ol>

<p class="pull-right">
    <button ng-click="deleteSponsor()" class="btn btn-danger" id="deleteEntry" ng-show="canDelete">Delete Sponsor<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<h1>{{id ? (title || " ") : "Add Sponsor"}}</h1>

<hr>

<div id="content">
    <form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
        <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
            <label for="name" class="col-sm-3 control-label">Name <span class="required">*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" name="name" required ng-model="sponsor.name">
            </div>
            <div class="col-sm-5">
                <span class="help-block" ng-show="submitted" ng-messages="form.name.$error">
                    <span ng-message="required">Please enter a name!</span>
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && form.logo.$invalid}">
            <label for="logo" class="col-sm-3 control-label">Logo</label>
            <div class="col-sm-4">
                <input type="file" id="logo" name="logo" ng-file-select="onFileSelect($files)">
            </div>
        </div>
        <div class="form-group" ng-show="logoImage">
            <div class="col-sm-offset-3 col-sm-4">
                <div class="ws-image-thumbnail">
                    <img ng-src="{{logoImage}}" ng-show="!removeLogo" />
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="removeLogo"> Remove logo
                    </label>
                  </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
                <a ui-sref="events.event.sponsors({id: sponsor.event.id})" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</div>
