<div class="modal-header">
    <h3 class="modal-title">Entities</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search entity" ng-model="entityFilter.query" ng-change="filterEntityTree()">
        </div>
    </form>
    <abn-tree tree-data="entitiesTree" icon-leaf="glyphicon glyphicon-triangle-right" expand-level="1" on-select="selectEntity(branch)"></abn-tree>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="clearEntity()">Clear</button>
    <button class="btn btn-primary" type="button" ng-click="okEntity()">OK</button>
</div>
