<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <form class="form-horizontal" [ngClass]="{'was-validated': this.form.submitted}" novalidate
        (ngSubmit)="submit()" #form="ngForm">

    <div class="form-group row">
      <label for="name"
             class="col-3 col-form-label text-right font-weight-bold">{{'Name' | translate}}&nbsp;*</label>
      <div class="col-6">
        <input
          placeholder="{{'Name' | translate}}"
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          [disabled]="!editable"
          [ngModel]="name">
      </div>
      <div class="col-3">
      <span
        class="form-text text-danger"
        style="display: block"
        *ngIf="form.submitted && this.form.controls.name.errors && this.form.controls.name.errors.required">
        {{'Please enter a name!' | translate}}
      </span>
      </div>
    </div>

    <div *ngIf="isBaseSponsor" class="form-group row">
      <label for="description"
             class="col-3 col-form-label text-right font-weight-bold">{{'Description' | translate}}</label>
      <div class="col-6">
      <textarea
        placeholder="{{'Description' | translate}}"
        class="form-control"
        id="description"
        name="description"
        [disabled]="!editable"
        [ngModel]="description">
      </textarea>
      </div>
      <div class="col-3">&nbsp;</div>
    </div>

    <div class="form-group row">
      <label for="url" class="col-3 col-form-label text-right font-weight-bold">{{'URL' | translate}}</label>
      <div class="col-6">
        <input
          placeholder="{{'URL' | translate}}"
          type="text"
          class="form-control"
          id="url"
          name="url"
          required
          [disabled]="!editable"
          [ngModel]="sponsor ? sponsor.url : undefined">
      </div>
      <div class="col-3">&nbsp;</div>
    </div>

    <div *ngIf="isBaseSponsor" class="form-group row">
      <label for="website" class="col-3 col-form-label text-right font-weight-bold">{{'Website' | translate}}</label>
      <div class="col-6">
        <input
          placeholder="{{'Website' | translate}}"
          type="text"
          class="form-control"
          id="website"
          name="website"
          required
          [disabled]="!editable"
          [ngModel]="website">
      </div>
      <div class="col-3">&nbsp;</div>
    </div>

    <div class="form-group row">
      <label for="url" class="col-3 col-form-label text-right font-weight-bold">{{'Logo' | translate}}</label>
      <div class="col-6">
        <div class="mb-1 mw-100">
          <img class="mw-100" *ngIf="!!sponsor && !!sponsor.logo" [src]="sponsor.logo.thumbnail"/>
          <div
            *ngIf="!sponsor || !sponsor.logo"
            class="alert alert-warning"
          >
            {{'No logo has been uploaded' | translate}}
          </div>
        </div>
        <input #fileInput
               class="float-left"
               name="flag"
               type="file"
               [disabled]="!editable"
               (change)="setFileFromInput($event)"
        />
        <button *ngIf="!!uploadFile" class="btn btn-danger btn-sm float-right" (click)="unsetUpload()">
          {{'Remove image' | translate}}
        </button>
        <div class="clearfix mb-2"></div>
        <ng-container *ngIf="!!sponsor && !!sponsor.logo">
          <input
            type="checkbox"
            name="removeFile"
            [disabled]="!editable"
            [ngModel]="false"
          />&nbsp;{{'Delete image' | translate}}
        </ng-container>
      </div>
      <div class="col-3">
        <p *ngIf="resourceLoading">
          <ngb-progressbar
            type="info"
            [value]="resourceProgress * 100"
            [striped]="true"
          ></ngb-progressbar>
        </p>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-3 col-9">
        <button type="submit" class="btn btn-success" id="saveSponsor" [disabled]="loading" *ngIf="editable">
          {{'Save' | translate}}
        </button>&nbsp;
        <a *ngIf="cancelLink" class="btn btn-secondary" [routerLink]="cancelLink">{{'Cancel' | translate}}</a><br/>
        <ws-spinner *ngIf="loading"></ws-spinner>
      </div>
    </div>
  </form>
</ng-container>
