<ng-container *ngIf="loading || !initialized">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="initialized && !loading">
  <div class="row my-2">
    <div class="col-12">
      <h3 class="m-0 float-left">
        {{'Sectors' | translate}}
      </h3>
      <div class="btn-group float-right">
        <ng-template [ngTemplateOutlet]="additionalMenu"></ng-template>
        <div class="btn-group" role="group"
             *ngIf="(localeContextService.effectiveOverriddenLanguage | async) as o">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{o.name}}
          </button>
          <div class="dropdown-menu">
            <ng-container *ngFor="let language of localeContextService.languages">
              <a
                href="#"
                class="dropdown-item"
                (click)="switchLanguage($event, language)">
                {{language.name}}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</ng-container>
